extends layout

block content

  h1 Item: #{item.name}

  p #[strong Item:] #{item.name}
  p #[strong TradeMark:] #{item.tradeMark}
  p #[strong Price:] #{item.price}
  p #[strong Category:] #{item.category}
  p #[strong Number in Stock:] #{item.numberInStock}
  p #[strong Speed:] #{item.speed}
  p #[strong Capacity:] #{item.capacity}
  p #[strong D:] #{item.capacity}

  hr
  p
    a(href=item.url+'/delete') Delete item  
